@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
}

:root{
    --clr-1: #152c5f;
    --clr-2:#81c91d;
    --clr-3: #f8f9f7;
    --clr-4: #758069;
    --clr-5: #949cb9;
}

html{
  scroll-behavior: smooth;
}

body{
  background: var(--clr-3);
}

.sections{
  height: 100vh;

}

/* ESTILOS BARRA DE NAVEGACION */
.header{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 80px;
    align-items: center;
    background-color: var(--clr-5);
}

.header .logo{
  width: 80px;
}

.nav-links{
    display: flex;
    gap: 15px;
    
}

.nav-link{
    text-decoration: none;
    font-size: 1rem;
}


/* ESTILOS PRIMERA SECCION */
.container{
  display: flex;
  align-items: center;
  position: relative;
  height: 100vh;
  background: var(--clr-3);
}

.intro-container{
  text-align: left;
  padding: 100px;
}

.intro-container h1{
  font-size: 4em;
  margin-bottom: 30px;
  color: var(--clr-1);
}

.intro-container p{
  font-size: 1.3em;
  width: 70%;
  color: var(--clr-4);
}

.intro-img{
  width: 100%;
  height: 75%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}


/* ESTILOS SEGUNDA SECCION */

.about{
  display: flex;
  align-items: center;
  gap: 100px;
  padding: 350px;
  background-color: var(--clr-5);
}

.about-title{
  font-size: 4em;
  width: 50%;
  color: var(--clr-3);
}

.about-description{
  width: 50%;
  font-size: 1.2rem;
  color: var(--clr-1);

}








.gallery{
  display: flex;
  width: 100%;
  height: 430px;
}


.gallery-container .gallery img{
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .5;
  transition: 0.5s ease;
  border-radius: 20px;
  margin: 1%;
}

.gallery img:hover{
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}


@-webkit-keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(calc(-250px * 7));
              transform: translateX(calc(-250px * 7));
    }
  }
  
@keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(calc(-250px * 7));
              transform: translateX(calc(-250px * 7));
    }
  }
  .slider {
    background: white;
    /*box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);*/
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 95%;
  }
  .slider::before, .slider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }
  .slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
  }
  .slider::before {
    left: 0;
    top: 0;
  }
  .slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
            animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
  }
  .slider .slide {
    height: 50px;
    width: 250px;
  }
  
  .slide img{
    
  }